html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #b6a403, #e5e6e4);
  background-attachment: fixed;
  /* This will make sure the background is fixed during scroll */
  font-family: 'Roboto', sans-serif;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
  body {
    /* Adjust font size for readability on smaller screens if necessary */
    font-size: 15px;
    /* Example size, adjust as needed */
  }
}

@media (max-width: 480px) {
  body {
    /* Further reduce font size for very small screens */
    font-size: 14px;
    /* Example size, adjust as needed */
  }
}